<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="simple" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!--            <property name="suppressAllComments" value="true"/>-->
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="org.mariadb.jdbc.Driver"
                        connectionURL="jdbc:mariadb://localhost:3306/tyche"
                        userId="root"
                        password="password"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="pers.hyu.tyche.admin.pojo"
                            targetProject="${generator.project.root}/tyche-admin/src/main/java"/>
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="${generator.project.root}/tyche-admin/src/main/resources"/>

        <!-- when using MyBatis3 or Mybatis3Simple，type is required “ANNOTATEDMAPPER” or “XMLMAPPER” -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="pers.hyu.tyche.admin.mapper"
                             targetProject="${generator.project.root}/tyche-admin/src/main/java"/>

        <table tableName="bgm"/>
<!--        <table tableName="comments"/>-->
<!--        <table tableName="search_records"/>-->
        <!--        convert tinyint to integer instead of byte[]-->
        <table tableName="users">
            <columnOverride column="status" property="status" javaType="java.lang.Integer"/>
        </table>
        <table tableName="admins">
            <columnOverride column="status" property="status" javaType="java.lang.Integer"/>
        </table>
<!--        <table tableName="users_liked_videos"/>-->
        <table tableName="users_report"/>
        <table tableName="videos">
            <!--        convert tinyint to integer instead of byte[]-->
            <columnOverride column="status" property="status" javaType="java.lang.Integer"/>
        </table>

    </context>
</generatorConfiguration>